<footer
    class='flex flex-col justify-center items-start max-w-2xl mx-auto w-full mb-8'
>
    <hr class='w-full border-t border-gray-200 dark:border-gray-800 mb-8' />
    <div class='w-full max-w-2xl grid grid-cols-1 gap-4 pb-16 sm:grid-cols-3'>
        <div class='flex flex-col space-y-4'>
            <a href='/' class='text-gray-500 hover:text-gray-600 transition'>
                Home
            </a>
            <a
                href='/donation'
                class='text-gray-500 hover:text-gray-600 transition'
            >
                Donation
            </a>
        </div>
        <div class='flex flex-col space-y-4'>
            <a
                class='text-gray-500 hover:text-gray-600 transition'
                target='_blank'
                rel='noopener noreferrer'
                href='https://twitter.com/0xdedinfosec'
            >
                Twitter
            </a>
            <a
                class='text-gray-500 hover:text-gray-600 transition'
                target='_blank'
                rel='noopener noreferrer'
                href='https://telegram.dog/Dedinfosec'
            >
                Telegram
            </a>
        </div>
        <div class='flex flex-col space-y-4'>
            <a
                href='/blog'
                class='text-gray-500 hover:text-gray-600 transition'
            >
                Blog
            </a>
            <a
                href='/snippets'
                class='text-gray-500 hover:text-gray-600 transition'
            >
                Snippets
            </a>
        </div>
    </div>
</footer>
