---
import { cn } from '../lib/utils';
import MobileMenu from './MobileMenu';
import ThemeSwitcher from './ThemeSwitcher';
import navLinks from './navLinks.json';

const currentPath = Astro.url.pathname;
---

<nav
    class='flex items-center justify-between w-full relative max-w-2xl border-gray-200 dark:border-gray-700 mx-auto pt-8 pb-8 sm:pb-16 text-gray-900 bg-gray-50 dark:bg-gray-900 bg-opacity-60 dark:text-gray-100'
>
    <a href='#skip' class='skip-nav'> Skip to content </a>
    <div class='ml-[-0.60rem]'>
        <MobileMenu client:only='react' />
        {
            navLinks.map((link) => {
                return (
                    <a
                        href={link.href}
                        class={cn(
                            currentPath === link.href
                                ? 'font-semibold text-gray-800 dark:text-gray-200'
                                : 'font-normal text-gray-600 dark:text-gray-400',
                            'hidden md:inline-block p-1 sm:px-3 sm:py-2 rounded-lg hover:bg-gray-200 dark:hover:bg-gray-800 transition-all'
                        )}
                    >
                        <span class='capsize'>{link.name}</span>
                    </a>
                );
            })
        }
    </div>
    <ThemeSwitcher client:only='react' />
</nav>
