---
const { emoji } = Astro.props;
---

<div class='flex bg-gray-200 dark:bg-gray-800 rounded-lg p-4 my-8'>
    <div class='flex items-center w-4 mr-4'>{emoji}</div>
    <div class='w-full callout'><slot /></div>
</div>
